SQLAlchemy~=1.4
pycryptodome~=3.15
cryptography~=38.0
# Note that secretstorage version 3.1.0 has a bug when used with keyring.
secretstorage~=3.3
keyring~=23.4
lockfile~=0.12
pip-tools~=6.11

# NOTE: not sure why I originally added pygobject and dbus-python, but selfspy
# seems to run fine without it.
# PyGObject~=3.42
# dbus-python~=1.2
python-xlib~=0.32
